button {
    outline: 1px solid #CAC4D0;
    border-radius: 1em;
    padding: 0.75em;
    color: #E6E1E5;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: min-content;
    gap: 10px;
    transition: all 0.1s;
    z-index: 5;
    border: none;
}

.icon {
    width: 1em;
    filter: brightness(0) saturate(100%) invert(71%) sepia(68%) saturate(72%) hue-rotate(217deg) brightness(111%) contrast(95%);
}

button:hover {
    background-color: #4A4458;
    color: #E7DDF9
}

