@font-face {
	font-family: "Gilroy"; 
	src: local("GilroyRegular"),
	  url("../font/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
  }

@font-face {
	font-family: "Gilroy"; 
	src: local("GilroySemibold"),
		url("../font/Gilroy-SemiBold.ttf") format("truetype");
	font-weight: bold;
}
  
  

@media (prefers-color-scheme: dark) {
	:root {
		color: #fff;
		background: #1c1c1c;
	}
}

body {
	font-family: 'Gilroy';
	font-weight: normal;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: #1C1B1F;
}

#app > main {
	display: flex;
	margin: 0 auto;
	min-height: calc(100vh - 3.5rem);
	flex-direction: column;
}

#app {
	max-width: 500px;
}

a {
	text-decoration: none;
}

